*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
@media screen and (max-width: 1000px) {
  .j{
      display: none;
  }
  .upper{
      flex-direction: column;
      justify-content: center;
  }
  .contact{
      text-align: center;
      margin: 0;
      align-self: center;
  }
  .mappy{
      margin-left: 15%;
      width: 70%;
  }
  .maintext{
      margin-top: 13vh;
  }

}
#tick {
  margin-left: 57rem;
  margin-top: 1rem;
  display:none;
}

#h5 {
  margin-left: 60rem;
  margin-top: -1rem;
}
body{
  overflow-x: hidden;
    /* margin-left:2rem; */
    background-image: url('./pics/bge.png');
    /* background-size:cover; */
    background-repeat: repeat;  
    font-family: "Poppins", sans-serif;
    /* opacity: 0.7; */
    background-color: ivory;
    /* margin-right: 2rem; */
    /* background-color: ivory; */
    /* text-align: center; */
    color: #005F41;
}
.hed{
    text-align: center;
    font-family: "DM Serif Display", serif;
    margin-top: 4rem;
    font-size: 2.7rem;
}
.hed3{
    text-align: center;
    font-family: "DM Serif Display", serif;
    margin-top: 4rem;
    font-size: 2.5rem;
}
.hed2{
    text-align: center;
    font-family: "DM Serif Display", serif;
    margin-top: 4rem;
    font-size: 2rem;
}
.con{
    padding-left: 20%;
    padding-right: 20%;
}
.social-icons {
    text-align: center;
    margin-top: 2rem; 
    margin-bottom: 0.5rem;
  }
.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
  }
.mappy{
    /* margin-top: 3rem; */
    width: 50%;
    height: 50vh;
    /* margin-left: 2%; */
    align-items: center;
}
#contac{
    margin-top: 2rem;
    padding: 1rem;
    /* align-items: center; */
    width: 50%;
    /* margin-left:10% ; */
}
form{
  text-align: center;
}
#bttn {
    background-color: #04a471;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 46%;
    /* width:8%;      */
}
form button:hover {
    background-color: #026d4b;
    
}
form textarea{
  /* text-align: center; */
  font-family: "Poppins", sans-serif;
}
/* FAq part */

  .faq-container{
      margin-left:25% ; 
      align-items: center;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
  }
  .faq-answer {
      display: none;
      padding: 10px 20px;
      transition: max-height 0.3s ease-out;
      max-height: 0;
      width: 70%;
      overflow: hidden;
    color: black;
    text-align: left;
    /* margin-left: 15%; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
    .faq-answer.active {
      display: block;
      max-height: 1000px; 
    } 
    
    .faq-question {
      font-size: 1rem;
      background-color: rgba(255, 250, 250, 0.525);
      color: #333;
      border-top: 0.2px solid grey;
      border-bottom: 0.2px solid grey;
      border-left: none;
      border-right: none;
      padding: 10px 20px;
      width: 70%;
      text-align: left;
      cursor: pointer;
      outline: none;
      margin: 5px 0;
    }
     
    .faq-question:hover {
      background-color: #dddddd8a;
      border-left: solid 3px green;
    }
  
  h1{
      margin-top: 3rem;
      text-align: center;
  }
  h3{
      margin-top: 1rem;
      text-align: center;
  }
  
  a{
      color: #005F41;
  }
  .norm{
      margin-left: -60%;
      margin-top: 2rem;
      font-size: 1.3rem;
      margin-bottom: 1rem;
  }
  /* @media only screen and (max-width: 1000px) {
    .norm{
      margin-left: 18%;
      margin-top: 1.5rem;
      font-size: 1.09rem;
      margin-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 700px) {
    .norm{
      margin-left: 18%;
      margin-top: 2rem;
      font-size: 1.09rem;
      margin-bottom: 1rem;
    }
  } */
  /* NAVBAR */
.hamburger{
  display: none;
}
.navlogo img{
  margin: 1rem;
  /* margin-left: 2rem; */
  height: 6rem;
  text-align: left;
}
.navs{
  margin-top: -8rem;
  /* display: flex; */
}
.navs ul{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
  margin-right: 2rem;
  justify-content: flex-end;
}
.navbar{
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  margin-right: 0;
  width: 102%;
  background: #3131317a;
  height: 8rem;
}
.navs li{
  margin: 1rem;
  display: inline-block;
}
.navbar a{
  text-decoration: none;
  color: white;
}
.navbar a:hover{
  color: rgb(49, 48, 48);
}
.btndonate{
  border-radius: 1rem;
  border: none;
  font-style: "Poppins";
  cursor: pointer;
  margin: -1rem;
  padding: 1rem;
}
.btndonate:hover{
  background: rgb(165, 162, 162);

}
  /* Footer starts */
footer{
  background-color: #f0f0f0;
  padding: 2rem;
  /* display: flex; */
  /* justify-content: space-between; */
  top: 3rem;
  left: 0;
  text-align: left;
  background-color: #005F41;
  margin-top: 9rem;
  color: #dce4e4;
  /* color: pink/; */
}
.upper{
  display: flex;
  justify-content: space-around;
}
.contact{
  width: 50%;
  margin-left: 5rem;
}
.mappy{
  height: 40vh;
  width: 40vw;
}
.socialmediaicons{
  display: flex;
  width: 100%;
  justify-content: center;
  /* margin: 2rem; */
  padding: 1rem;
}
.icon{
  margin: 0.5rem;
}
.socialmediaicons a{
  text-decoration: none;
  padding: 0.7rem;
  background-color: white;
  border-radius: 50%;
  color: #005F41;
  font-size: 1.1rem;
}
.socialmediaicons a:hover{
  background-color: #005F41;
  transition: 0.3s;
}
.socialmediaicons a:hover i{
  color: white;
  transition: 0.3s;
}
.trademark{
  margin-top: 1rem;
  text-align: center;
}
.lower{
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
/* Footer ends */
@media screen and (max-width:850px) {
  .hamburger{
      display: block;
      color: white;
      font-size: 2rem;
      text-align: right;
      margin-right: 3rem;
      margin-top: -6rem;
      cursor: pointer;
  }
  .navs ul{
      display: none;
      /* transition: all 1s ease; */
      flex-direction:column;
      background: #2c2b2b;
      justify-content: flex-start;
      margin-top: 8rem;
      width: 50%;
      height: 90vh;
      margin-left: 55%;
  }
  .navs li{
      padding: 2rem;
      margin: 1px;
  }
  .btndonate{
      background: #00000000;
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
  }
  .btndonate:hover{
      background: #514f4f00;
  }
  .navs li:hover{
      background: #514f4f5e;
  }
}