*{
  margin: 0;
  padding: 0;
}
/* Hamburger */
@media screen and (max-width: 1000px) {
  .j{
      display: none;
  }
  .upper{
      flex-direction: column;
      justify-content: center;
  }
  .contact{
      text-align: center;
      margin: 0;
      align-self: center;
  }
  .mappy{
      margin-left: 20%;
      width: 60%;
  }
  .maintext{
      margin-top: 13vh;
  }

}
body{
    /* margin-left:2rem; */
    background-image: url('./pics/bge.png');
    /* background-size:cover; */
    background-repeat: repeat;  
    /* opacity: 0.7; */
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: ivory;
    /* margin-right: 2rem; */
    /* background-color: ivory; */
    /* text-align: center; */
    color: #005F41; 
}
/* Main heading */
.hee{
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: "DM Serif Display", serif;
    font-size: 1.8rem;
    text-align: center;
}
.h2 {
  text-align: center;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-size: 40px;
  color: black;
  margin-top: 5rem;
  text-decoration: underline;
  display: inline-block;
  margin: 4px;
}
.teacher {
  margin-left: 42.5vw;
  width: 15vw;
  border: 2px solid #005F41;
  border-radius: 4px;
  box-shadow: 3px 3px grey;
  display: inline-block;
}
.h2 {
  width: 100%;
  overflow: hidden;
  -webkit-animation: fade-in-out 2s infinite alternate;
}

.teacher {
  overflow: hidden;
  -webkit-animation: slidein 3s;
}

/*support for chrome web browser*/
@-webkit-keyframes fade-in-out {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
      margin-left: 0rem;
  }

  100% {
      margin-left: ;
  }
}
/* Boxes with info */
.text1{
    display: flex;
    flex-direction: row;
    margin-left: 15rem;
    margin-right: 15rem;
}
.text2{
    display: flex;
    flex-direction: row;
    margin-left: 15rem;
    margin-right:15rem;
}
.smol{
    font-size: 0.9rem;
    padding-top: 1rem;
}
.boxes{
    background-color:#005F41;
    color: ivory;
    /* height: 30rem; */
    text-align: center;
    width: 37vw;
    margin: 2rem;
    /* border: 2px solid pink; */
    margin-bottom: 0;
    border-radius: 0.5rem;
    /* transition: all 1s ease; */
    /* border: 5px dashed ivory; */
    padding: 2rem;
    justify-content: space-evenly;
}
.boxes:hover {
    transform: scale(1.1);
  }
.tee{
    margin-top: 2rem;
    display: block;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}
.non{
    height: 5rem;
    visibility: hidden;
}
/* Form */
textarea {
    margin: 8px;
    border: 2px solid black;
    background-color: rgb(193, 190, 190);
    border-radius: 5px;
    display: block;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }


/* forms stuff */
form {
    margin-top: 20rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}
form input[type="text"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    margin-top: 0.4rem;
    background: white;;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form textarea {
    height: 100px; 
}

form label {
    /* font-weight: bold; */
    padding: 0.2rem;
    color: black;
    text-align: left;
    margin-top:1rem ;
}
form button {
    background-color: #04a471;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #026d4b;
}
.j{
    font-size: 0.8rem;
}
  /* @keyframes slideInAnimation {
    0% {
      opacity: 0;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(1%);
    }
  } */

  /* Responsive styles for boxes */
  @media only screen and (max-width: 970px) {
    .text1{
        display: flex;
        flex-direction: column;
        /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        color: ivory;
        align-items: center;
    }
    .text2{
        display: flex;
        flex-direction: column;
        /* font-family: 'Courier New', Courier, monospace; */
        /* margin-left: 15rem; */
        color: #fffff0;
        /* margin-right:15rem; */
        align-items: center;
    }
    .boxes{
        background-color:#005F41;
        /* color: ivory; */
        /* height: 30rem; */
        /* width: 20rem; */
        margin: 2rem;
        /* border: 2px solid pink; */
        margin-bottom: 0;
        border-radius: 0.5rem;
        /* border: 5px dashed ivory; */
        padding: 2rem;
        justify-content: space-evenly;
    }
    
    }
/* NAVBAR */
.hamburger{
    display: none;
  }
  .navlogo img{
    margin: 1rem;
    height: 6rem;
    text-align: left;
  }
  .navs{
    margin-top: -8rem;
    /* display: flex; */
  }
  .navs ul{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 1rem;
    margin-right: 2rem;
    justify-content: flex-end;
  }
  .navbar{
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    margin-right: 0;
    width: 102%;
    background: #3131317a;
    height: 8rem;
  }
  .navs li{
    margin: 1rem;
    display: inline-block;
  }
  .navbar a{
    text-decoration: none;
    color: white;
  }
  .navbar a:hover{
    color: rgb(49, 48, 48);
  }
  .btndonate{
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: -1rem;
    padding: 1rem;
  }
  .btndonate:hover{
    background: rgb(165, 162, 162);
  
  }
  
    /* Footer starts */
  footer{
    background-color: #f0f0f0;
    padding: 2rem;
    /* display: flex; */
    /* justify-content: space-between; */
    top: 3rem;
    left: 0;
    text-align: left;
    background-color: #005F41;
    margin-top: 9rem;
    color: #dce4e4;
    /* color: pink/; */
  }
  .upper{
    display: flex;
    justify-content: space-around;
  }
  .contact{
    width: 50%;
    margin-left: 5rem;
  }
  .mappy{   
    height: 40vh;
    width: 40vw;
  }
  .socialmediaicons{
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin: 2rem; */
    padding: 1rem;
  }
  .icon{
    margin: 0.5rem;
  }
  .socialmediaicons a{
    text-decoration: none;
    padding: 0.7rem;
    background-color: white;
    border-radius: 50%;
    color: #005F41;
    font-size: 1.1rem;
  }
  .socialmediaicons a:hover{
    background-color: #005F41;
    transition: 0.3s;
  }
  .socialmediaicons a:hover i{
    color: white;
    transition: 0.3s;
  }
  .trademark{
    margin-top: 1rem;
    text-align: center;
  }
  .lower{
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  /* Footer ends */
  @media screen and (max-width:850px) {
    .hamburger{
        display: block;
        color: white;
        font-size: 2rem;
        text-align: right;
        margin-right: 3rem;
        margin-top: -6rem;
        cursor: pointer;
    }
    .navs ul{
        display: none;
        /* transition: all 1s ease; */
        flex-direction:column;
        background: #2c2b2b;
        justify-content: flex-start;
        margin-top: 8rem;
        width: 50%;
        height: 90vh;
        margin-left: 55%;
    }
    .navs li{
        padding: 2rem;
        margin: 1px;
    }
    .btndonate{
        background: #00000000;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
    }
    .btndonate:hover{
        background: #514f4f00;
    }
    .navs li:hover{
        background: #514f4f5e;
    }
  }