body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    /* background-color: #ffffff; */
}
body{
    /* margin-left:2rem; */
    background-image: url('./pics/bge.png');
    /* background-size:cover; */
    background-repeat: repeat;  
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* opacity: 0.7; */
    background-color: ivory;
    /* margin-right: 2rem; */
    /* background-color: ivory; */
    color: #005F41;
}
/* slideshow */
.slideshow {
    position: relative;
    /* display:inline-flex; */
    height: 100%;
    overflow-x: hidden;
}
  .slides {
    position: relative;
    animation-name:slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width:100%;
    display: flex;
    height: 100vh;
    transition: all 1s ease;
    margin-top: -0.5rem;
  }
  .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
  }
  @keyframes slide{
    0%{
        left:0%;
    }
    8%{
        left:-100%;
    }
    33.3%{
        left:-100%;
    }
    41.3%{
        left:-200%;
    }
    66.6%{
        left:-200%;
    }
    74.6%{
        left:-300%;
    }
    100%{
        left:-300%;
    }
}
.slide {
    width: 100%;
    opacity: 0.9;
    flex: 0 0 auto;
}
/* Slide show ends */


/* Content Overlay */
.overlays{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* transform: translate(-50%, -50%); */
    /* align-items: center; */
}

/* headings */
.maintext{
    color:white;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 0.1rem;
    font-size: 5rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    /* transition: 1s ease; */
    animation: up 1s;
    /* transform: translateX(-50%); */
}
.subline{
    color: white;
    /* margin-top: 1rem; */
    text-align: center;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic; 
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    animation: up 1s;  
}
@keyframes up {
  0%{
    transform: translateY(10%);
  }
  100%{
    transform: translateY(0%);
  }    
}
/* donate and join us wale boxes */
.boxx{
    display: flex;
    text-align: center;
    margin-top: 3rem;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
}
.boxx a{
    text-decoration: none;
    color: #005F41;
}
.e{
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    /* opacity:0.4 ; */
    height: 5rem;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 5%;
    margin: 0.4rem;
    width: 10rem;
    transition: transform 0.3s ease-in-out;
}
.til{
    display: block;
}
.e:hover{
    transform: scale(1.1);
}
.firsticon{
    font-size: 3rem;
    padding: 0;
}
/* Content overlay ends */
/* mission vision */
.aboutus{
    margin-top: 6rem;
}
.mission{
    color: #005F41;
    text-align: center;
    font-size: 2.6rem;
}
.content{
    margin: 2rem;
    text-align: center;
    margin-left: 15%;
    width: 70%;
    font-size: 1rem;
}
.hed2{
    text-align: center;
    font-family: "DM Serif Display", serif;
    margin-top: 4rem;
    font-size: 2rem;
}

/* Footer starts */
footer{
    background-color: #f0f0f0;
    padding: 2rem;
    /* display: flex; */
    /* justify-content: space-between; */
    top: 3rem;
    left: 0;
    text-align: left;
    background-color: #005F41;
    margin-top: 9rem;
    color: #dce4e4;
    /* color: pink/; */
}
.upper{
    display: flex;
    justify-content: space-around;
}
.contact{
    width: 50%;
    margin-left: 5rem;
}
.mappy{
    height: 40vh;
    width: 40vw;
}
.socialmediaicons{
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin: 2rem; */
    padding: 1rem;
}
.icon{
    margin: 0.5rem;
}
.socialmediaicons a{
    text-decoration: none;
    padding: 0.7rem;
    background-color: white;
    border-radius: 50%;
    color: #005F41;
    font-size: 1.1rem;
}
.socialmediaicons a:hover{
    background-color: #005F41;
    transition: 0.3s;
}
.socialmediaicons a:hover i{
    color: white;
    transition: 0.3s;
}
.trademark{
    margin-top: 1rem;
    text-align: center;
}
.lower{
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
/* Footer ends */

/* Responsive styles */
@media screen and (max-width: 1000px) {
    .j{
        display: none;
    }
    .upper{
        flex-direction: column;
        justify-content: center;
    }
    .contact{
        text-align: center;
        margin: 0;
        align-self: center;
    }
    .mappy{
        margin-left: 15%;
        width: 70%;
    }
    .maintext{
        margin-top: 13vh;
    }

}
@media screen and (max-width:850px) {
    .hamburger{
        display: block;
        color: white;
        font-size: 2rem;
        text-align: right;
        margin-right: 3rem;
        margin-top: -6rem;
        cursor: pointer;
    }
    .navs ul{
        display: none;
        /* transition: all 1s ease; */
        flex-direction:column;
        background: #2c2b2b;
        justify-content: flex-start;
        margin-top: 8rem;
        width: 50%;
        height: 90vh;
        margin-left: 55%;
    }
    .navs li{
        padding: 2rem;
        margin: 1px;
    }
    .btndonate{
        background: #00000000;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
    }
    .btndonate:hover{
        background: #514f4f00;
    }
    .navs li:hover{
        background: #514f4f5e;
    }
}
@media screen and (max-width:580px){
        .boxx{
            display: none; 
        }
}
/* 800 pe hamburger+ see boxx ka kya krna hai */
/* NAVBAR */
.hamburger{
    display: none;
}
.navlogo img{
    margin: 1rem;
    height: 6rem;
    text-align: left;
}
.navs{
    margin-top: -8rem;
    /* display: flex; */
}
.navs ul{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 1rem;
    margin-right: 2rem;
    justify-content: flex-end;
}
.navbar{
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    background: #3131317a;
    height: 8rem;
}
.navs li{
    margin: 1rem;
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: rgb(165, 162, 162);
}
.btndonate{
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: -1rem;
    padding: 1rem;
}
.btndonate:hover{
    background: rgb(165, 162, 162);

}